@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');
/*font-family: 'Teko', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
/*font-family: 'Cinzel', serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    font-family: 'Teko', sans-serif;
    background-image: url("../img/alex-wong-l5Tzv1alcps-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
